<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eemf.sirgoingfar.journalapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_note_add"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.CatalogActivity"
            android:label="@string/my_journal"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".activities.AddJournalActivity"
            android:label="@string/title_activity_add_journal"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.JournalPreviewActivity"
            android:label="@string/title_activity_journal_preview"
            android:screenOrientation="portrait"/>
        <service
            android:name=".service.JournalPreviewFirebaseJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>
    </application>
</manifest>